{% extends 'base.html.twig' %}

 {% block main %}
     <ul>
         {# @var circle \AppBundle\Entity\Circle #}
         {% for circle in circles %}
             <p>{{ circle.name }}</p>
             <ul>
                 {% for sector in circle.sectors %}
                     {# @var category \AppBundle\Entity\Category #}
                     {% set category = sector.category %}
                     <li><a href="{{ path('notes_manager.category.view', {id: category.id}) }}">{{ category.name }}</a></li>
                     <ul>
                         {# @var note \AppBundle\Entity\Note #}
                         {% for note in category.notes %}
                             <li><a href="{{ path('notes_manager.note.view', {id: note.id}) }}">{{ note.title }}</a></li>
                         {% endfor %}
                     </ul>
                 {% endfor %}
             </ul>
         {% endfor %}
     </ul>
 {% endblock %}
