<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Notes Manager{% endblock %}</title>
    <meta charset="UTF-8" />
    {% block stylesheets %}
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('styles/style.css') }}" rel="stylesheet"/>
        <link href="{{ asset('styles/additional_style.css') }}" rel="stylesheet"/>
        <link href="{{ asset('styles/font-awesome.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bootstrap/wysiwyg/bootstrap3-wysihtml5.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
    {% endblock %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="masthead"><a href="{{ path('homepage') }}" id="main_logo_link"><h3>Notes Manager  <span class="label label-default">Beta</span></h3></a>
        <ul class="nav nav-justified head_menu navbar-default">
            <li role="presentation"><a href="{{ path('notes_manager.circle.list') }}">Список окружностей</a></li>
            <li role="presentation"><a href="{{ path('notes_manager.note.list') }}">Заметки</a></li>
            <li role="presentation"><a href="{{ path('notes_manager.circle.create') }}">Добавить окружность</a></li>
            <li role="presentation"><a href="{{ path('notes_manager.note.create') }}">Добавить заметку</a></li>
            {% if is_granted('ROLE_USER') %}
                <li class="active" role="presentation"><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
            {% else %}
                <li class="active" role="presentation"><a href="{{ path('fos_user_security_login') }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    {% block main %}

    {% endblock %}
    <footer class="footer"><p>&copy; 2018 TzepArt Company, Inc.</p></footer>
    {% block javascripts %}
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="{{ asset('scripts/main.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bootstrap/wysiwyg/bootstrap3-wysihtml5.all.min.js') }}"></script>
    {% endblock %}
</div>
</body>
</html>